<div >
  <!-- Tags -->
  <div class="widget">
    <h4 class="widget-title">All Posts</h4>
    {{- if isset .Site.Taxonomies "categories" }}
    {{- if not (eq (len .Site.Taxonomies.categories) 0) }}
    <ul class="list-inline">
      {{- range $name, $items := .Site.Taxonomies.categories }}
      <li class="list-inline-item"><a 
          href="{{ `categories/` | relLangURL }}{{ $name | urlize | lower }}">{{ $name | humanize }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
    {{- end }}
  </div>
</div>
